/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #000;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

input[type="checkbox"]:checked~.overlay {
    pointer-events: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
}