/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.sandbox img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sandbox img:hover {
    cursor: crosshair;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(0.7);
}

.grayscale:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0.1);
}

.blur {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.blur:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.invert {
    -webkit-filter: invert(10);
    filter: invert(10);
}

.invert:hover {
    -webkit-filter: invert(0);
    filter: invert(0);
}

.sepia {
    -webkit-filter: sepia(2);
    filter: sepia(2);
}

.sepia:hover {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}